// put this script outside public_html
// use this command to make it executable
// chmod +x /home/youruser/git-pull.sh

// in github add webhook
// PayloadURL: 
// https://vepso.ita.voco.ee/php-voting/webhook.php?secret=secret-token

// Content type:
// application/json




#!/bin/bash
cd /home/username/public_html/repofolder
git pull origin main